.contenedorProyecto .imagenPort{
  width: 50px;
  height: 100px;
  margin: 10px 10px 50px;
  align-items: center;
  background-color: rgb(2, 61, 61);
  box-shadow: black 2px 1px ;
  display: inline;
  margin-left: auto;
  margin-right: auto;
  width: 40%;

} 

 .textoProduccion {
    color:rgb(206, 216, 224);
    text-decoration: aliceblue;

   }
   
     
.nombreProyecto{
   
     font-weight: 800;
   }
  .imagenPort {

   max-width: 200px;
  }


