* {
 margin: 3px; 
 padding: 0px;
 color:white;
 text-align: left;

}

html
body {
  font-size: 18px;
  background-image: url(./img/img1.jpg); 
  background-size: cover;
  box-shadow: 0 3px 13px 1px rgb(0 0 0/9%);
  }

  h1 {
    color: rgb(222, 243, 201) ;
    font-style: normal;
    font-weight: 600px;
    font-size: 80px;
    margin: 40s 0;
    align-content: center;
    text-align: center;
    opacity: .7;
    border-radius: black 50% ;
    box-shadow: 1px 2px 0;

   }

 .contenedorPrincipal {
  font-size: 20px;
  text-align: center;
  text-size-adjust: 30px;
  align-content: center;
  display: inline;

}

.subtitulo {
      align-items: center;
      text-align: center;
      color: rgb(227, 223, 223);
    }

 .listaproyectos {
      display: inline-table;
         } 
    

